body {
  font-family: helvetica;
  font-size: 42px;
  width: 600px;
  margin: 0 auto;
}

body.nerdy {
  font-family: courier;
  background: #000;
  color: #0f0;
  text-transform: uppercase;
}

body.hide-content > * {
  display: none;
}

#countdown {
  width: 60%;
  margin: 0 auto;
}

.is-countdown {
  border: 0;
  background: none;
}

form {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.4;
}

form:hover {
  opacity: 1;
}

form input {
  border: 0;
  background: transparent;
}

input:focus {
  outline: 0;
}
